[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow-gpu = "*"
keras = "*"
numpy = "*"
sklearn = "*"
pandas = "*"
keras-tqdm = "*"
ipywidgets = "*"
jupyter = "*"
tensorflowjs = "*"

[dev-packages]
jupyterlab = "*"

[requires]
python_version = "3.6"
